<section>
  <div class="container">
    <h1 class="title has-text-centered">
      Odin Chat
    </h1>
    <div class="content">
      <p>Welcometh to odin chat.  Talketh 'mongst the gods of y're and beest m'rry</p>
    </div>
    <%= link_to "SIGN UP", new_user_registration_path, class: 'notification is-link' %>
  </div>
</section>
